.game-result-background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.35);
  position: fixed; /*important*/
  left: 0; /*important*/
  top: 0; /*important*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-result-container {
  background-color: rgb(184, 199, 198);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 400px;
  height: 200px;
}

.game-status {
  color: rgb(14, 136, 136);
  margin-top: 1.5em;
  color: #000;
  font-size: 1.5em;
  text-align: center;
}

.win-status {
  text-align: center;
  margin: 1.5em 4em;
  padding: 0.25em;
  background: #c6ffdd;
  background: linear-gradient(to right, #9fcfd359, #2bbba5, #95bdc9, #ced8d800);
}

.reset-button {
  text-align: center;
  margin-top: 2em;
}

.reset-button button {
  background-color: rgb(14, 136, 136);
  color: white;
  font-family: "Permanent Marker", cursive;
  width: 5.5em;
  height: 2em;
  cursor: pointer;
  box-shadow: 0px 2px 5px #00000079;
  border: none;
  font-size: 1.5em;
  text-align: center;
  border-radius: 5px;
}
